@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MegansBlog.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<br />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <input name="firstName" type="text" placeholder="first name" />

    <input name="lastName" type="text" placeholder="last name" />
    <br />
    <br />
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)

    
    <input type="checkbox" id="subscribed" name="subscribed" value="subscribed"><label for="subscribed">Subscribe to the newsletter</label>
    <br />
    <br />
    <button type="submit" class="button" value="Register">Register</button>
}