@{
    ViewData["Title"] = "Megan's Blog - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MegansBlog.Models.Post


<h2>Details</h2>
<p>In Category: </p>@Html.DisplayFor(model => model.Category)
<hr />
<p>Title: </p>@Html.DisplayFor(model => model.Title) <p>Post Date: </p> @Html.DisplayFor(model => model.PostDate)
<hr />
<p>Content: </p>@Html.DisplayFor(model => model.Body)
<br />
<p>@Html.ActionLink("Back to list", "Index")</p>
