@using System.Security.Claims

<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <script src="~/js/scripts.js"></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            @Html.ActionLink("Megan's Blog", "Index", "Account", new { @class = "brand-logo" })
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                @if (User.IsSignedIn())
                {
                    <li>
                        @using (Html.BeginForm("LogOff", "Account"))
                        {
                            <input type="submit" class="btn btn-default" value="Log out" />
                        }
                    </li>
                    <li>Signed in as @User.GetUserName()</li>

                        @if (User.IsInRole("Admin"))
                        {

                            <li>@Html.ActionLink("User Roles", "index", "Roles")</li>

                        }



                }
                else
                {
                    <span>@Html.ActionLink("Register", "Register")</span>
                        <span>@Html.ActionLink("Log in", "Login")</span>
                }
                
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
